.container {
    display: flex;
    gap: 1rem;
    min-height: calc(100vh - 96px);
    position: relative; }
.feed {
    flex-basis: 43%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 28%; 
    margin-right: 25%; 
    margin-top: 66px;

}

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 25%; 
}

.rigthSidebar {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 25%; 
}