.upSide{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.showMoreBtn{
    padding: 5px 12px;
    display: flex;
    align-items: center;   
    gap: 10px 
}

.showMoreBtn p{
    margin: 0;
}
.seeMoreArrow{
    background-color: #333334;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
